[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sklearn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
keras = "*"
tensorflow = "*"
requests = "*"
wandb = "*"
ipywidgets = "*"
ipython = "*"
scipy = "*"
scikit-image = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
