beautifulsoup4
billiard
bs4
chardet
coala-utils
cssselect
fake-useragent
feedfinder2
feedparser
google-images-download
idna
jieba3k
joblib
lxml
mkl-service
mock
newspaper3k
nltk
Pillow
PyYAML
requests
requests-file
scikit-learn
selenium
soupsieve
tinysegmenter
tldextract
tqdm
twitterscraper
urllib3
