beautifulsoup4
billiard
chardet
cssselect
feedfinder2
feedparser
idna
jieba3k
joblib
lxml
mkl-service
mock
newspaper3k
nltk
Pillow
PyYAML
requests
requests-file
scikit-learn
selenium
soupsieve
tldextract
tqdm
urllib3